.polygon {
  position: absolute;
  top: 0px;
}

.header {
  min-height: 50px;
  padding-bottom: 5px;
  width: 300px;
  margin: 0 auto
}

.desc {
  white-space: pre-line;
  margin-top: 5px;
  padding:0 5px 0 5px;
}

.alert-card-container {
  margin-bottom: 5px;
  padding: 2px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px lightslategray;
  position:relative;
}

div.alert-card-container>div {
  margin-bottom: 4px;
}

.title {
  font-size: larger;
  font-weight: bold;
  text-align: center;
  padding-top: 3px;
  margin-bottom: 3px;;
}

.modifier {
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;;
}

.subtitle {
  text-align: center;
}

 .subtitle>div:not(:last-child) {
   margin-bottom: 2px;
 }

.hazards {
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.svrHazards {
  font-weight: bold;
  text-align: center;
}

.torHazards {
  font-weight: bold;
  text-align: center;
}

.red {
  color: rgb(167, 0, 0);
  padding: 0 3px 0 3px;
}

