<div *ngIf="alert" class="{{alert.eventType.cssClass}} alert-card-container" (click)="toggleDescription()" >
  <div class="title">{{ alert.event }}</div>
  <div class="timing">
  <div>Effective: {{ alert.effective.toLocaleString() }}</div>
  <div>Expires: {{ alert.expires.toLocaleString() }}</div>
  </div>
  <div class="hazards" *ngIf="shouldDisplayHazards()">
  <div class="left hazard-item" *ngIf="alert.hailSize > 0">Hail: {{alert.hailSize}} in</div>
  <div class="right hazard-item" *ngIf="alert.windGust > 0">Wind gusts: {{alert.windGust}} MPH</div>
  </div>
  <div class="svrHazards" *ngIf="shouldDisplaySvrHazards()">
    <div *ngIf="alert.thunderstormDamageThreat">T-Storm Damage: {{alert.thunderstormDamageThreat}}</div>
  </div>
  <div class="torHazards" *ngIf="shouldDisplayTorHazards()">
    <div class="{{ getTorDetectionClass() }}" *ngIf="alert.tornadoDetection">Tornado: {{alert.tornadoDetection}}</div>
    <div *ngIf="alert.tornadoDamageThreat">Tornado damage: {{alert.tornadoDamageThreat}}</div>
  </div>
  <div #desc class="desc hidden">{{ alert.description }}</div>
</div>
