<div *ngIf="alert" class="{{ getClass() }} alert-card-container" (click)="toggleDescription()" >
  <div class="header">
    <div class="title">{{ getTitle() }}</div>
    <div class="modifier">{{ alert.getClassification().modifier }}</div>
    <div class="subtitle">
      <div>From: {{alert.sender}}</div>
      <div>{{alert.areaDesc}}</div>
      <div>Expires in: {{alert.timeUntilExpiration()}} minutes</div>
    </div>
  </div>
  <div class="hazards" *ngIf="shouldDisplayHazards()">
  <div class="left hazard-item" *ngIf="alert.hailSize > 0">Hail: {{alert.hailSize}} in</div>
  <div class="right hazard-item" *ngIf="alert.windGust > 0">Wind gusts: {{alert.windGust}} MPH</div>
  </div>
  <div class="svrHazards" *ngIf="shouldDisplaySvrHazards()">
    <div *ngIf="alert.thunderstormDamageThreat">T-Storm Damage: {{alert.thunderstormDamageThreat}}</div>
  </div>
  <div class="torHazards" *ngIf="shouldDisplayTorHazards()">
    <div *ngIf="alert.tornadoDetection">
      <span  class="{{ getTorDetectionClass() }}" >
        Tornado: {{alert.tornadoDetection}}
      </span></div>
    <div *ngIf="alert.tornadoDamageThreat">Tornado damage: {{alert.tornadoDamageThreat}}</div>
  </div>
    <div *ngIf="alert.polygon" class="polygon">
      <canvas #poly width="50px" height="50px" id="polygon"></canvas>
    </div>
  <div #hiddencontainer class="hidden">
    <div class="desc">{{ alert.description }}</div>
  </div>
</div>
