.spec {
  background-color: #b1effc;
}
.svr {
  background-color: #f7ff63;
}
.tor {
  background-color: lightcoral;
}

.desc {
  white-space: pre-line;
  margin-top: 5px;;
}

.alert-card-container {
  margin-bottom: 5px;
  padding: 2px;
}

.title {
  font-size: larger;
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 3px;
}

.timing {
  text-align: center;
  margin-bottom: 5px;
}

.hazards {
  font-weight: bold;
  display: inline-block;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.svrHazards {
  font-weight: bold;
  text-align: center;
}

.torHazards {
  font-weight: bold;
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.red {
  color: red;
}

.hidden {
  display: none;
}