<div id="container">
  <div class="loading" *ngIf="!loaded">Loading...</div>
  <div class="loading" *ngIf="loaded && alerts.length == 0">No Results</div>
  <div *ngIf="loaded">
    <div class="live-container" *ngIf="!isLive">
      <div class="live">NOT LIVE</div>
    </div>
    <app-alert-card *ngFor="let alert of alerts" [alert]="alert"></app-alert-card>
  </div>
  <div class="storage-container">
    <button class="save-button" (click)="clearStorage()">Clear Alert Storage</button>
    <button class="save-button" (click)="fetchToStorage()">Force Fetch to Storage</button>
    <button class="save-button" (click)="updateFromStorage()">Update Alerts from Storage</button>
  </div>
</div>