<div id="container">
  <div class="loading" *ngIf="!loaded">Loading...</div>
  <div class="loading" *ngIf="loaded && alerts.length == 0">No Results</div>
  <div class="counts-container" *ngIf="loaded && alerts.length > 0" >
  <div class="counts-header"  (click)="showCounts()">
    <div >Counts</div>
    <div #plus class="icon">+</div>
    <div #minus class="icon hidden">-</div>
  </div>
  <div #counts class="counts hidden">
    <app-count-card *ngFor="let e of getCounts()" [entry]="e"></app-count-card>
  </div>
  </div>
<app-alert-card *ngFor="let alert of alerts" [alert]="alert" ></app-alert-card>
</div>