<div id="container">
  <div class="counts-container">
  <div class="counts-header" (click)="showCounts()">
    <div >Counts</div>
    <div #plus class="icon">+</div>
    <div #minus class="icon hidden">-</div>
  </div>
  <div #counts class="counts hidden">
    <app-count-card *ngFor="let e of getCounts()" [entry]="e"></app-count-card>
  </div>
  </div>
  <div class="loading" *ngIf="alerts.length == 0">Loading...</div>
<app-alert-card *ngFor="let alert of alerts" [alert]="alert" ></app-alert-card>
</div>